@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ece9e9;
    color: #111;
    font-family: 'Source Sans Pro', sans-serif;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

.center {
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    text-align: center;
}

header {
    left: 0;
    top: 0;
    width: 100%;
    position: sticky;
    background-color: #ece9e9;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.04);
    z-index: 1;
}

.logo {
    display: block;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.logo img {
    padding: 10px 0;
    max-width: 250px;
    max-height: 100px;
}

::-webkit-scrollbar {
    width: 0px;
    background-color: #ece9e9;
    border: 0px solid #ece9e9;
}

::-webkit-scrollbar-thumb {
    background-color: #ece9e9;
    border-radius: 50px;
    border: 0px solid #ece9e9;
}



/*=====================================================================================================*/

main {
    width: 100%;
    height: 100vh;
    padding: 0 3% 0;
}


.filme-da-semana{
    color: #B498DB;
    font-style: italic;
    margin-left: 3%;
    margin-top: 1%;
    text-transform: uppercase;
    font-size: clamp(1.5rem, 4vw, 2.5rem); 
}

.filme-info{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin-top: 2%;
}

#titulo-filme{
    color: #9F71E0;
    font-style: italic;
    margin-top: 3%;
    text-transform: uppercase;
    font-size: clamp(1.5rem, 7vw, 3rem); 
    text-align: center;
}

.filme-info img{
    max-height: 55vh;
    box-shadow: 7px 5px 11px -1px rgba(0, 0, 0, 0.25);;
}

.textos-info{
    margin-left: 3%;
}

.textos-info p{
    max-width: 30%;
    text-align: justify;
    margin-top: 2%;
    color: #5B5B5B;
    font-size: 16px;
}

.textos-info h2{
    color: #9F71E0;
    margin-top: 0.5%;
    font-size: 20px;
    margin-bottom: -1%;
}

.trailer{
    margin-top: -55vh;
    justify-content: right;
    display: flex;

}

.avaliacao{
    display: flex;
    margin-left: -0.4%;
    width: 250px;

   }
  .star-icon{
    background-color: rgba(0, 0, 0, 0.0);
    list-style-type: none;
    border: none;
    cursor: pointer;
    color: #9F71E0;
    font-size: 50px;
  }
  .star-icon::before{
    content: "\2605";
  }
  .star-icon.ativo ~ .star-icon::before{
    content: "\2606";
  }
  .avaliacao:hover .star-icon::before{
    content: "\2605";
  }
  .star-icon:hover ~ .star-icon::before{
    content: "\2606";
  }

.tela-login{
    background-color: #9F71E0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 60px;
    border-radius: 12px;
    color: #ece9e9;
    align-items: center;
    justify-content: center;
    box-shadow: 7px 5px 11px -1px rgba(0, 0, 0, 0.25);
    text-align: center;
    height: 333px;
}

.tela-login h1{
    color: #ece9e9;
    background-color: #9F71E0;
    margin-bottom: 20px;
}

.tela-login input{
    padding: 5px;
    border: none;
    outline: none;
    font-size: 14px;
    width: 20vw;
}

.tela-login button{
    border: none;
    padding: 10px;
    width: 15vw;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    color: #9F71E0;
}

.tela-login button:hover{
    background-color: #9F71E0;
    color: #ece9e9;
    border: 2px solid #ece9e9;
    transition: .2s cubic-bezier(0.2, 1, 0.2, 1.4);
    cursor: pointer;
}



@media screen and (max-width: 768px){

    *{
        width: 100%;
    }

    .filme-info img{
        width: 100%;
        max-height: 60vh;
        box-shadow: 7px 5px 11px -1px rgba(0, 0, 0, 0.25);
    }

    .filme-info{
        display: block;
        justify-content: center;
        align-items: center;
    }

    .textos-info{
        max-height: 50vh;
    }

    .textos-info p{
        margin-top: 7%;
        max-width: 90%;
        margin-left: 0;
        
    }
    
    .textos-info h2{
        color: #9F71E0;
        margin-top: 2%;
        margin-bottom: 2%;
        font-size: 20px;
    }

    .textos-info h2{
        text-align: center;
    }

    .trailer{
        margin-top: 1vh;
        padding-bottom: 10px;
    }

    .avaliacao{
        justify-content: center;
        align-items: center;
        margin-left: 15%;
    }


}